*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background: transparent;
	padding: 0;
	cursor: pointer;
	color: inherit;
	font-family: 'Nunito Sans', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
textarea {
	outline: none;
	border: none;
	font-family: inherit;
}

img {
	display: block;
	max-width: 100%;
}
