::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--bg-scroll-thumb);
	border-radius: 90px;
	border: 3px solid transparent;
	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	background-color: var(--bg-scroll-track);
}

@media (min-width: 768px) and (max-width: 1259px) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
}

@media (max-width: 767px) {
	::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
}
